<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body id="bg">

	<a href="/auth/twitter" class="button">Click here to login with Twitter</a>
</body>

</html>