body {
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

#topbar {
	width: 100%;
	height: 40px;
	position: fixed;
	z-index: 10;
	background-color: #aaaaaa;
}

#sidebar {
	width: 250px;
	height: 100%;
	position: fixed;
	z-index: 2;
	padding: 50px 20px 0px 0px;
	border-right: 1px solid #cccccc;
}

#content {
	margin: auto;
	padding-top: 40px;
	width: 600px;
	z-index: 1;
}

#post {	
	width: 540px;
	margin: 20px 0px 25px 43px;
	height: 70px;
}

#myicon {
	height: 70px;
	width: 70px;
	border-radius: 10%;
	-o-border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	margin: 0px 10px 10px 10px;
	float: left;
}

.icon {
	height: 50px;
	width: 50px;
	float: left;
	display: block;
	border-radius: 10%;
	-o-border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	margin: 2px 10px 0px 15px;
}

.entry {
	position: relative;
	width: 550px;
	margin: 25px auto 0px auto;
	padding: 0px 0px 25px 0px;
	clear: both;
	font-family: arial;
	font-size: 14px;
	color: #000000;
	line-height: 130%;
	border-bottom: #cccccc 1px solid;
}

.text {
	width: 460px;
	float: left;
}

.name {
	font-weight: bold;
	font-size: 16px;
	margin-right: 3px;
}

.at {
	color: #888888;
	font-size: 12px;
}

.description {
	padding-bottom: 5px;
}

.music {
	text-decoration: none;
	text-transform: lowercase;
	color: #006699;
}

.music:hover {
	text-decoration: underline;
}

.interact {
	clear: both;
	width: 460px;
	padding: 5px 0px 0px 75px;
}

.clear {
	clear: both;
}

.txthere {
	width: 422px;
	padding: 10px 20px 10px 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 1px;
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}

.posthere {
	margin: 0px 0px 0px 10px;
	width: 50px;
	height: 42px;
	line-height: 20px;
	font-size: 14px;
	background-color: #eeeeee;
	color: #000000;
	border: 1px solid #cccccc;	
	border-radius: 1px;
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}

.toggle {
	font-family: 'Times New Roman';
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 7px 6px 0px 0px;
	float: left;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	overflow: visible;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.txtthere {
	width: 207px;	
	padding: 5px 15px 5px 15px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 1px;
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	margin: 8px 10px 0px 0px;
}

/*.show {
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}*/

.rotate {
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.deletepost {
	font-family: 'Times New Roman';
	margin-top: -5px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px;
	font-weight: bold;
	height: 25px;
	width: 25px;
	z-index: 3;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

.toggletxt {
	float: left;
	height: 30px;
	line-height: 30px;
	font-family: arial;
	font-size: 17px;
	margin: 7px 6px 0px 0px;
}

.myname {
	margin-top: 5px;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
}

.myat {
	font-family: arial;
	font-size: 14px;
}

.recent {
	clear: both;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	margin: 30px 0px 0px 10px;
	color: #000000;	
}

.myentry {
	padding: 10px;
	border-bottom: 1px solid #cccccc;
}

.mytxt {
	font-size: 13px;
	font-weight: normal;	
	line-height: 130%;
}

.mysong {
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	color: #006699;
}

.listen {
	font-size: 13px;
	font-weight: bold;
}

.mysong:hover {
	text-decoration: underline;
}

.scrollup {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	position: fixed;
	bottom: 30px;
	right: 50px;
	display: none;
	background: url('icon_top.png') no-repeat;
	text-decoration: none;
	color: #006699;
}